.Logo {
    width: 200px;
    /* height: 43px; */
    margin: 0 0 0 40px;
    /* object-fit: contain; */
    /* font-family: Roboto;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5e5e5e; */
}