body{
    text-align:center;
  }

  .order{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }

  .order:hover{
    background:#fff;
    color:#1AAB8A;
  }

 .order:before, .order:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }

  .order:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

  .order:hover:before, .order:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .voice {
    font-size: 15px;
    text-align: center;
    background-color: honeydew;
}

.up {
    display: flex;
    font-size: 7px;
}

.up .up0 {
    margin-left: 20px;
    background-color: white;
    border:none;
}

.up .up5 {
    font-size: 25px;
    text-align: center;
    margin-top: 23px;
    color: orangered;
}

.up .up1 {
    margin-left: 100px;
    margin-top: 10px;
}

.up .up2 {
    margin-top: 10px;
    margin-left: 250px;
    background-color: white;
    border:none;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}

.up .up3 {
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    border:none;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}

.up .up4 {
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    border:none;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}

.up2:hover, .up3:hover, .up4:hover{
    transform: scale(1.1);
    transition: .5s;
}

.subName {
    font-size: 30px;
    text-align: left;
    margin-top: 30px;
    margin-left: 40px;
}

table {
border-collapse: collapse;
margin-left: 50px;
}

.delete {
  background-color: white;
  border:none;
}

td {
border-bottom: solid orangered;
padding: 10px;
border-width: 0.3px;
}

.side {
    margin-left: 100px;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

.entire {
font-size: 10px;
display: flex;
margin-top: 30px;
}

.sum {
display: flex;
margin-left: 37px;
font-size: 30px;
text-align: center;
}

#popup { opacity : 0.5; } 