@font-face {
    font-family: "NotoSansKR-Thin";
    /* font-display: fallback; */
    src: url("./NotoSansKR-Thin.otf") format("opentype"), url("./NotoSansKR-Thin.eot?iefix") format("embedded-opentype"), url("./NotoSansKR-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "NotoSansKR-Light";
    /* font-display: fallback; */
    src: url("./NotoSansKR-Light.otf") format("opentype"), url("./NotoSansKR-Light.eot?iefix") format("embedded-opentype"), url("./NotoSansKR-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "NotoSansKR-Regular";
    /* font-display: fallback; */
    src: url("./NotoSansKR-Regular.otf") format("opentype"), url("./NotoSansKR-Regular.eot?iefix") format("embedded-opentype"), url("./NotoSansKR-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "NotoSansKR-Medium";
    /* font-display: fallback; */
    src: url("./NotoSansKR-Medium.otf") format("opentype"), url("./NotoSansKR-Medium.eot?iefix") format("embedded-opentype"), url("./NotoSansKR-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "NotoSansKR-Bold";
    /* font-display: fallback; */
    src: url("./NotoSansKR-Bold.otf") format("opentype"), url("./NotoSansKR-Bold.eot?iefix") format("embedded-opentype"), url("./NotoSansKR-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "NotoSansKR-Black";
    /* font-display: fallback; */
    src: url("./NotoSansKR-Black.otf") format("opentype"), url("./NotoSansKR-Black.eot?iefix") format("embedded-opentype"), url("./NotoSansKR-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }