.Header{
    width: 100%;
    height: 180px;
    object-fit: contain;
    position: sticky;
    z-index: 99;
    top: 0;
    /* border-bottom: 1px solid #d2d2d2; */
    box-shadow: 0 0px 3px #dbdbdb;
    background-color: rgba(255,255,255, 0.92);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
}