.SearchBar {
    display: flex;
    align-items: center;
    width: 750px;
    height: 52px;
    /* border: 1px solid #ffbf8e; */
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 10px rgba(170, 170, 170, 0.35);
    margin: 0 48px 0 48px;
    /* padding: 12.5px 626px 14px 24.1px; */
    object-fit: contain;
}

.SearchBar:hover {
    box-shadow: 0 2px 20px rgba(253, 130, 36, 0.35);
}

.SearchBar,
.SearchBar::before,
.SearchBar::after {
    -webkit-transition: all .25s;
	transition: all .25s;
}

.SearchBar input {
    margin: auto 24px auto 14px;
    height: 32px;
    vertical-align: middle;
    font-size: 14px;
    background: none;
    outline: none;
    border: none;
    color: #616161;
    flex: 1;
}

.SearchBar input::placeholder {
    color: #ffb57c;
    font-size: 16px;
    font-family: NotoSansKR-Medium;
    margin: 0 auto;
}
.mic_button{
    background: none;
    border: none;
}

.SearchBar img{
    width: 28px;
    /* height: 27px; */
    margin: 0 0 0 20px;
    /* object-fit: contain; */
}