.search_filter {
    display: flex;
    width: 1280px;
    height: 56px;
    margin: 26px 0 26px 0;
    align-items: center;
}

.txt_btn {
    display: flex;
    margin: 0 0 0 32px;
    padding: 12px 0;
    align-items: center;
    font-family: NotoSansKR-Medium;
    font-size: 16px;
    color: #686868;
}

.txt_btn img {
    margin: 0 0 0 6px;
}

.search_filter_item_enabled {
    height: 26px;
    margin: 0 8px;
    padding: 6px 22px 6px 22px;
    background-color: #fcaf75;
    /* border: 4px solid #fcaf75; */
    border-radius: 30px;
    font-family: NotoSansKR-Regular;
    font-size: 16px;
    color: #fff;    
}

.search_filter_item_disabled{
    height: 26px;
    margin: 0 8px;
    padding: 6px 22px 6px 22px;
    background-color: #f7f7f7;
    /* border: 2px solid #fcaf75; */
    border-radius: 30px;
    font-family: NotoSansKR-Regular;
    font-size: 16px;
    color: #cacaca; 
}